<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="cmsmasters website template" />
		<meta name="keywords" content="html, css, template" />
		<link rel="shortcut icon" href="comic/images/favicon.png" type="image/png" />
		<link id="gFontName" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cuprum:regular,italic,bold,bolditalic" type="text/css" />
		<title>萌站-黑夜主权-飘渺阁</title>
	</head>
	<body class="standard simple">
		<script src="comic/js/script.js" type="text/javascript"></script>
		<ul id="sliderMotion">
			<li data-thumb="comic/images/slider/thumbs/img1.jpg" data-start="top left" data-finish="bottom right" data-zoom="out" data-animation="10">
				<img src="comic/images/slider/img1.jpg" alt="Banner Image 1" />
                <div class="cmsmsSlideCaption" data-top="50">
					<h2>这是萌站呢</h2>
					<p>萌站成立于 2016 年六一儿童节，目标，并在为此努力的路上。我们分享来自全球的动漫资源，无门槛下载资源给你最佳的体验。</p>
					<a href="http://1-yi.cn" class="button btn_1">点击进入萌站</a>
				</div>
			</li>
			<li data-thumb="comic/images/slider/thumbs/img2.jpg" data-start="bottom center" data-finish="center center" data-zoom="in" data-animation="15">
				<a class="video autostop hd" href="http://www.youtube.com/watch?v=-PAjEHhz2mw"/><img src="comic/images/slider/img2.jpg" alt="Banner Image 2" />
			</li>
			<li data-thumb="comic/images/slider/thumbs/img3.jpg" data-start="bottom right" data-finish="bottom left" data-zoom="out">
				<img src="comic/images/slider/img3.jpg" alt="Banner Image 3" />
			</li>
			<li data-thumb="comic/images/slider/thumbs/img4.jpg" data-start="center center" data-finish="center center" data-zoom="in">
				<a class="video autostop hd" href="http://vimeo.com/19625497"><img src="comic/images/slider/img4.jpg" alt="Banner Image 4" /></a>
            </li>
			<li data-thumb="comic/images/slider/thumbs/img5.jpg" data-start="center left" data-finish="top right" data-zoom="out" data-animation="15">
				<img src="comic/images/slider/img5.jpg" alt="Banner Image 5" />
			</li>
		</ul>
		<div id="page" class="hideContent">
			<div class="header_wrap">
				<div id="header">
					<div class="header_inner">
						<a class="logo" title="Pacifico" href="index.html">
							<img alt="Pacifico" src="comic/images/logo.png" />
						</a>
					</div>
					<div class="header_arrow_wrap">
						<a href="#" class="header_arrow"><span>&nbsp;</span></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
